<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gateway.jaxway.admin.dao.mapper.JaxwayRouteModelMapper">
  <resultMap id="BaseResultMap" type="com.gateway.jaxway.admin.dao.model.JaxwayRouteModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="jaxway_server_id" jdbcType="INTEGER" property="jaxwayServerId" />
    <result column="route_content" jdbcType="VARCHAR" property="routeContent" />
    <result column="predicate_type" jdbcType="VARCHAR" property="predicateType" />
    <result column="predicate_value" jdbcType="VARCHAR" property="predicateValue" />
    <result column="filter_type" jdbcType="VARCHAR" property="filterType" />
    <result column="filter_value" jdbcType="VARCHAR" property="filterValue" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="op_type" jdbcType="TINYINT" property="opType" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, jaxway_server_id,route_id, route_content, predicate_type, predicate_value, filter_type,
    filter_value, url, op_type, create_user_id, create_time, update_time
  </sql>

  <select id="selecRoutesInfoByJaxServerId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from JaxwayRoute
    where jaxway_server_id = #{jaxwayServerId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from JaxwayRoute
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from JaxwayRoute
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gateway.jaxway.admin.dao.model.JaxwayRouteModel">
    insert into JaxwayRoute (jaxway_server_id,route_id ,route_content,
      predicate_type, predicate_value, filter_type,
      filter_value, url, op_type, 
      create_user_id
      )
    values ( #{jaxwayServerId,jdbcType=INTEGER},#{routeId,jdbcType=VARCHAR}, #{routeContent,jdbcType=VARCHAR},
      #{predicateType,jdbcType=VARCHAR}, #{predicateValue,jdbcType=VARCHAR}, #{filterType,jdbcType=VARCHAR},
      #{filterValue,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{opType,jdbcType=TINYINT}, 
      #{createUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gateway.jaxway.admin.dao.model.JaxwayRouteModel">
    insert into JaxwayRoute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jaxwayServerId != null">
        jaxway_server_id,
      </if>
      <if test="routeContent != null">
        route_content,
      </if>
      <if test="predicateType != null">
        predicate_type,
      </if>
      <if test="predicateValue != null">
        predicate_value,
      </if>
      <if test="filterType != null">
        filter_type,
      </if>
      <if test="filterValue != null">
        filter_value,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="opType != null">
        op_type,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jaxwayServerId != null">
        #{jaxwayServerId,jdbcType=INTEGER},
      </if>
      <if test="routeContent != null">
        #{routeContent,jdbcType=VARCHAR},
      </if>
      <if test="predicateType != null">
        #{predicateType,jdbcType=VARCHAR},
      </if>
      <if test="predicateValue != null">
        #{predicateValue,jdbcType=VARCHAR},
      </if>
      <if test="filterType != null">
        #{filterType,jdbcType=VARCHAR},
      </if>
      <if test="filterValue != null">
        #{filterValue,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="opType != null">
        #{opType,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gateway.jaxway.admin.dao.model.JaxwayRouteModel">
    update JaxwayRoute
    <set>
      <if test="jaxwayServerId != null">
        jaxway_server_id = #{jaxwayServerId,jdbcType=INTEGER},
      </if>
      <if test="routeContent != null">
        route_content = #{routeContent,jdbcType=VARCHAR},
      </if>
      <if test="predicateType != null">
        predicate_type = #{predicateType,jdbcType=VARCHAR},
      </if>
      <if test="predicateValue != null">
        predicate_value = #{predicateValue,jdbcType=VARCHAR},
      </if>
      <if test="filterType != null">
        filter_type = #{filterType,jdbcType=VARCHAR},
      </if>
      <if test="filterValue != null">
        filter_value = #{filterValue,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="opType != null">
        op_type = #{opType,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gateway.jaxway.admin.dao.model.JaxwayRouteModel">
    update JaxwayRoute
    set jaxway_server_id = #{jaxwayServerId,jdbcType=INTEGER},
      route_content = #{routeContent,jdbcType=VARCHAR},
      predicate_type = #{predicateType,jdbcType=VARCHAR},
      predicate_value = #{predicateValue,jdbcType=VARCHAR},
      filter_type = #{filterType,jdbcType=VARCHAR},
      filter_value = #{filterValue,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      op_type = #{opType,jdbcType=TINYINT},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>